<% content_for :sub_actions do %>
  <%= sub_toolbar do %>
  <% end %>
<% end %>

<% content_for :content do %>
  <table id="eds" class="grid-view tablesorter">
    <thead>
      <tr>
        <th><span>Name</span></th>
        <th><span>Path</span></th>
        <th><span>Description</span></th>
      </tr>
    </thead>
    <tbody>
      <% @apps.each do |a| %>
	<tr>
      <td><%= link_to a.name, application_path(:id => a.name)  %></td>
	  <td><%= a.path %></td>
	  <td><div class="description"><%= a.description %></div></td>
	</tr>
      <% end %>
    </tbody>
    </table>
<% end %>
