  <div class="field">
    <%= f.label :ed, "From Library: "  %>
    <%= f.select :ed_id, @eds, :select => "<Your Experiment>" %>
  </div>
  
  <div class="field">
    <%= f.label :project, "Workspace: "  %>
    <%= f.select :project_id, options_for_select(@projects, session[:project_id].to_i) %>
  </div>
