<% if !@error.nil? %>
  $("#caption-experiment > .text").html("<p class=\"info\"><%= @error %></p>");
  $("#caption-experiment > img").hide();
  $("#caption-experiment").show();
<% else %>
function experiment_stat(){
  $.getScript("<%= stat_experiment_path(:id => params[:id], :format => :js) %>");
}
$("#error-experiment").addClass("hidden");
$("#caption-experiment").show();
$(".image-progress").show();
setTimeout(experiment_stat,5000);
<% end %>
