<% content_for :main_content do %>
  <div id="toolbar" class="invisible">  
  </div>

  <div id="sub-toolbar">
    <%= yield :sub_actions %>
  </div>
  
  <br />
  <div id="file-show">
    <%= yield :content %>
  </div>

  <div class="clear"></div>
<% end %>

<%= render :template => 'layouts/application' %>
