  <% creator = User.find(@ed.user_id) %>
  <p>
    <b>Creator:</b>
    <%= link_to creator.name, user_path(:id => creator.id) %>
  </p>

  <p>
    <b>Name:</b>
    <%= @ed.name %>
  </p>

  <p>
    <b>Description:</b>
    <%= @ed.description %>
  </p>        

  <p>
    <%= text_area_tag :code, @content, :size => '60x30' %> 
  </p>        
