  <% creator = User.find(@ed.user_id) %>
  <% code = @content.readlines %>
  <p>
    <b>Creator:</b>
    <%= link_to creator.name, user_path(:id => creator.id) %>
  </p>

  <p>
    <b>Name:</b>
    <%= @ed.name %>
  </p>

  <p>
    <b>Description:</b>
    <%= @ed.description %>
  </p>        

  <p>
    <%= render :partial => 'oedl', :locals => { :args => { :code => code } } %>
  </p>    
