<ul id="oedl-design-viewer" class="tabs">
  <li class="tab-active"><a href="#design">Design</a></li>
  <li><a id="oedl-source" href="#source">Source</a></li>
</ul>
<div id="design" class="oedl-tab tab">
  <div class="oedl-actions sidebar">
    <div class="preferences-view-action ed-editor-button preferences-button">Preferences</div>
  </div>
  <div id="testbed-view">
    <%= hidden_field_tag :testbed_name, @testbed.name %>
    <%= hidden_field_tag :testbed_id, @testbed.id %>
    <%= render :partial => 'testbeds/map' %>
  </div>
</div>
<div id="source" class="oedl-tab tab">
</div>

