<ul id="oedl-design-viewer" class="tabs">
  <li class="tab-active"><a href="#design">Design</a></li>
  <li><a id="oedl-source" href="#source">Source</a></li>
</ul>
<div id="design" class="oedl-tab tab">
  <div class="oedl-timeline timeline">
      <ul class="events"></ul>
      <ul class="intervals">
         <li class="first">0s</li>
         <li>20s</li>
         <li>40s</li>
         <li>60s</li>
         <li>80s</li>
         <li>100s</li>
         <li class="last">120s</li>
      </ul>
  </div>
  <div class="clear"></div>
  <div class="preferences-view-action preferences-button"><span>Preferences</span></div>
  <div class="oedl-actions sidebar"></div>
  <div id="testbed-view">
    <%= hidden_field_tag :testbed_name, @testbed.name %>
    <%= hidden_field_tag :testbed_id, @testbed.id %>
    <%= render :partial => 'testbeds/map' %>
  </div>
  <div class="right-sidebar"> 
    <div id="table-groups" class="hidden grid-view-new">
      <div class="grid-view-row grid-view-header">
        <div class="group-color"></div>
        <div>Nodes</div>
      </div>
      <div class="grid-view-row">
      </div>      
    </div>
    <div id="table-groups-actions" class="grid-view-actions">
      <a href="#" class="remove-group-item">Remove Group</a>
    </div>

    <div id="table-applications" class=" hidden grid-view-new">
      <div class="grid-view-row grid-view-header">
        <div class="group-color"></div>
        <div>Application</div>
      </div>
      <div class="grid-view-row">
      </div>
    </div>
    <div id="table-applications-actions" class="grid-view-actions">
      <a href="#" class="remove-application-item">Remove Application</a>
      <a href="#" class="addevent-application-item">Add Event</a>
    </div>
  </div>
</div>
<div id="source" class="oedl-tab tab">
  <div class="sidetabs-container">
    <ul class="sidetabs">
      <li class="sidetab-active"><a href="#ed">ed</a></li>
    </ul>
    <div id="ed" class="sidetab">
    </div>
  </div>
</div>

