<ul id="oedl-design-viewer" class="tabs">
  <li class="tab-active"><a href="#design">Design</a></li>
  <li><a id="oedl-source" href="#source">Source</a></li>
</ul>
<div id="design" class="oedl-tab tab">
  <div class="oedl-timeline"></div>
  <div class="oedl-actions sidebar">
    <div class="preferences-view-action ed-editor-button preferences-button">Preferences</div>
  </div>
  <div id="testbed-view">
    <%= hidden_field_tag :testbed_name, @testbed.name %>
    <%= hidden_field_tag :testbed_id, @testbed.id %>
    <%= render :partial => 'testbeds/map' %>
  </div>
  <div class="right-sidebar"> 
    <div id="table-groups" class="grid-view-new">
      <div class="grid-view-row grid-view-header">
        <div class="group-color"></div>
        <div>Nodes</div>
      </div>
      <div class="grid-view-row">
      </div>      
    </div>
    <div id="table-groups-actions" class="grid-view-actions">
      <a href="#" class="remove-group-item">Remove Group</a>
    </div>

    <div id="table-applications" class="grid-view-new">
      <div class="grid-view-row grid-view-header">
        <div class="group-color"></div>
        <div>Application</div>
      </div>
      <div class="grid-view-row">
      </div>
    </div>
    <div id="table-applications-actions" class="grid-view-actions">
      <a href="#" class="remove-application-item">Remove Application</a>
    </div>
  </div>
</div>
<div id="source" class="oedl-tab tab">
</div>

