<ul id="oedl-design-viewer" class="tabs">
  <li class="tab-active"><a href="#design">Design</a></li>
  <li><a id="oedl-source" href="#source">Source</a></li>
</ul>
<div id="design" class="oedl-tab tab">
  <%= render :partial => 'testbeds/map' %>
<!--
  <div class="oedl-actions sidebar">
    <div class="node-add-action button">Node</div>
    <div class="preferences-view-action ed-editor-button preferences-button">Preferences</div>
  </div>
  <div class="canvas">
  </div>  
-->
</div>
<div id="source" class="oedl-tab tab">
</div>

