<% content_for :head do %>
  <% javascript_include_tag :ed_editor %>
<% end %>

<% content_for :sub_actions do %>
  <ul id="toolbar-action-list">
    <li class="action">
      <%= link_to(eds_path, :class => "action") do %>
	Back
	<%= image_tag "back.png", {:height => 16, :width => 16} %>
      <% end %> 
    </li>
  </ul>
<% end %>

<% content_for :content do %>
  <%= render :partial => 'form', :locals => { :target => eds_path, :multipart => true, :remote => false} %> 
<% end %>

<% content_for :footer do %>
<div class="debug">
</div>
<div class="contextMenu" id="nodeCtxMenu">
  <ul>
    <li id="application">Add Application</li>
    <li id="group">Select Group</li>
    <li id="properties">Properties</li>
  </ul>
</div>
<%= modal_dialog("", "modal-dialog") %>
<% end %>
