<% content_for :sub_actions do %>
  <ul id="toolbar-action-list">
    <li class="action">
      <%= link_to(sys_image_path, :class => "action") do %>
	Back
	<%= image_tag "back.png", {:height => 16, :width => 16} %>
      <% end %> 
    </li>
  </ul>
<% end %>

<% content_for :content do %>  
  <%= render :partial => 'form', :locals => { 
        :target => sys_image_path, 
        :multipart => false, 
        :ajax_upload => true, 
        :remote => false 
  }  %>
<% end %>
