<% content_for :sub_actions do %>
  <ul id="toolbar-action-list">
    <li class="action">
      <%= link_to(sys_images_path, :class => "action") do %>
	Back
	<%= image_tag "back.png", {:height => 16, :width => 16} %>
      <% end %> 
    </li>
  </ul>
<% end %>

<% content_for :content do %>
  <%= render :partial => 'form', :locals => { :target => sys_images_path, :multipart => true, :remote => false }  %>
<% end %>

<% content_for :actions do %>
  <% add_action 'Back', sys_images_path %>
<% end %>
