<% params.merge!(Rails.application.routes.recognize_path(params[:p])) %>
var nodes = $('.testbed');
if (nodes.length > 0) {
  setTimeout(updateStatus, 5000);  
} 
<% if user_signed_in? %>
  <% if (current_user.admin?) or (can? :node_info, Testbed) or (can? :node_toggle, Testbed) %>
$(".node").live('click', function(evt){
  var node_id = this.id.split('-')[1];
  var $this = $(this);
  $(".node-active").removeClass('node-active');  
  if ($this.hasClass("node-active")) {
    $("#sub-toolbar").hide();
    } else {
  var id  = $(".testbed").attr("id").replace(/testbed-/, "");
  var href = "/testbeds/"+id+"/nodes/";
    var maintain_url = href + node_id +"/maintain";
    var toggle_url = href + node_id +"/toggle";
    var info_url = href + node_id +"/info";
    $("#sub-toolbar").html("<ul id=\"toolbar-action-list\">"+
    <% if (can? :node_toggle_maintain, Testbed) %>
        "<li class=\"action\"><a class=\"action\" href=\""+maintain_url+"\" data-remote=\"true\" data-method=\"put\"><img src=\"/images/maintain.png\"/> Maintain</a></li>"+
    <% end %>
    <% if (can? :node_toggle, Testbed) %>
        "<li class=\"action\"><a class=\"action\" href=\""+toggle_url+"\" data-remote=\"true\" data-method=\"put\"><img src=\"/images/toggle2.png\"/> Toggle</a></li>"+
    <% end %>
    <% if (can? :node_info, Testbed) %>
		"<li class=\"action\"><a class=\"action\" href=\""+info_url+".js"+"\" data-remote=\"true\"><img src=\"/images/edit.png\"/> Show Details</a></li>"+
    <% end %>
        "</ul>");
    $(this).addClass("node-active");
  }
  });
  <% end %>
<% end %>
