<h1>AMazING Testbed</h1>
<p>The AMazING (Advanced Mobile wIreless Network playGround) consists of a free 
access wireless testbed, composed by 24 fixed nodes located at IT Aveiro rooftop. 
At the core of the testbed, there are the support servers and redundant storage. 
Servers provide processing power to schedule, manage and analyze results. In the 
near future we expect to extend the testbed with a high speed mobile node (>60km/h) 
and integrate experiments with NS3.</p>
