<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <style>
    pre {font-family:arial, helvetica; font-size:12px;}
  </style>
  <body>
  <pre>
  Dear <%= @user.name %>, 
    
   Your account has been activated.

   Login in with your credentials, to start your experiments

  Best Regards,
  Amazing Team
  </pre>
  </body>
</html>
