<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
Mr. <% @user.name %>, your account has been activated.

Sign in with your credentials, to start your experiments

Best Regards,
Amazing Team
  </body>
</html>
