<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <style>
    pre {font-family:arial, helvetica; font-size:12px;}      
  </style>
  <body>
  <pre>
Dear <%= @user.name %>, 

  The experiment #<%= @experiment.id %> has <%= @experiment.experiment_failed? ? "failed" : "finished" %>.

  Login <%= link_to "here", experiment_path(@experiment)+"#results" %> to see your results.

Best Regards,
AMazINg Team
  </pre>
  </body>
</html>
