<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
Mr. <% @user.name %>, your experiment has finished.

Sign in <%= link_to "here", experiment_path(@experiment) %> to see your results.

Best Regards,
AMazINg Team
  </body>
</html>
