<% content_for :main_content do %> 
  <div class="clear"></div>
  <%= yield :sub_actions %>
  <br/>
  <div id="file-show">
    <%= yield :content %>
  </div>
  <div class="clear"></div>
  
<% end %>
<%= render :template => 'layouts/application' %>
