<% content_for :main_content do %>
  <% if params[:action] == "index" or params[:action] == "new" or params[:action] == "create" %>
  <div id="toolbar" class="invisible">  
  </div>
<% else %> 
  <% if can? :users, Project %>
  <div id="toolbar">  
    <ul id="toolbar-action-list">      
      <%= users_action({ :controller => 'projects', :action => 'users', :has_action => true })%>
    </ul>
  </div>
  <% end %>
<% end %>

  <div id="sub-toolbar">
    <%= yield :sub_actions %>
  </div>
  
  <br />
  <div id="file-show">
    <%= yield :content %>
  </div>

  <div class="clear"></div>
<% end %>

<%= render :template => 'layouts/application' %>
